.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(234, 234, 234);
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  margin-left: 40px;
}

.header div {
  display: flex;
}

.header span {
  display: flex;
  align-items: center;
  color: grey;
  height: 50px;
  margin-left: 30px;
}

.header span button {
  margin-right: 5px;
  font-size: 0.9rem;
  border: none;
  background-color: #fff;
  color: grey;
  cursor: pointer;
  position: relative;
}

.button {
  background-color: #a62626;
  color: #fff;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-right: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 5px;
  width: 150px;
  position: absolute;
  top: 4rem;
  padding: 5px;
  padding-right: 10px;
  margin-right: -10px;
}

.exit {
  margin: auto;
  font-size: 0.9rem;
  border: none;
  background-color: #fff;
  color: grey;
  cursor: pointer;
  height: 30px;
  width: 97%;
  border-bottom: 2px solid rgb(213, 213, 213);
  margin-top: 3px;
  margin-bottom: 3px;
}
